body{
    font-family: sans-serif;
    margin: 0;
    background-color: white;
}
header{
    background-color: lightblue;
    text-align: center;
    padding: 30px 0px;
}
nav ul{
    list-style-type: none;
}
nav li{
    display: inline-block;
    margin: 0px 10px;
}
nav li{
    display: inline-block;
    margin:0px 10px ;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
nav a:hover{
    background-color: lightblue;
    border-radius: 5px;

}
#profile{
    width: 150px;
    height: 250px;
    border-radius: 50%;
}
#about{
    background-color:white;
    padding: 20px;
    border: 3px solid black;
    border-radius: 8px;
    box-shadow: 5px pink;
    margin-bottom: 20px;
}
#project{
       background-color:lightblue;
    padding: 20px;
    border: 3px solid black;
    border-radius: 8px;
    box-shadow: 5px pink;
    margin-bottom: 20px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    gap: 15px;
}
.contact-form label{
    font-weight: bold;
    color: purple;
}
.contact-form input
.contact-form textarea{
    width: 100%;
    border:1px solid lightcoral ;
    border-radius: 5px;
}
.contact-form button{
    background-color: purple;
    color: white;
    border: none;
    border-radius: 8px;padding: 12px;
    font-size: larger;
    cursor: pointer;
}
.contact-form button:hover{
    background-color: yellow;
}
#project-container {
    display: flex;
    gap: 15px;
}
.projo{
    background-color: lightgreen;
    padding: 15px;
    border: lightcoral solid 2px;
    border-radius: 8px;
    box-shadow: 5px pink;
    text-align: center;
}
h3{
    color: purple;
}
h2{
    color: blue;
}
footer {
    background-color: grey;
    text-align: center;
    color: white;
    padding: 15px
}
/*responsive*/
@media(max-width: 768px){
    body{
        background-color: yellow;
    }
    nav li{
        display:block;
    margin:5px;
    }
    #project-container{
        flex-direction: column;
    }

}